img {
  border: 0;
  width: 100%;
}
figcaption {
  font-family: roboto;
  color: #50585f;
  font-size: 90%;
}
.article {
  padding-top: 50px;
  padding-bottom: 1%;
  max-width: 900px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 28px auto 0;
}
.blog_section {
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 1000px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 28px auto 0;
}
h1 {
  font-family: roboto;
  color: #343a40;
  text-align: center;
  top: 0%;
  position: relative;
  font-size: 300%;
}
h2 {
  font-family: roboto;
  color: #343a40;
  font-size: 190%;
}
h3 {
  font-family: roboto;
  color: #343a40;
  font-size: 150%;
}
h4 {
  font-family: roboto;
  color: #343a40;
  font-size: 130%;
}
h5 {
  font-family: roboto;
  color: #343a40;
  font-size: 100%;
}
h6 {
  font-family: roboto;
  color: #343a40;
  font-size: 100%;
}
p {
  font-family: roboto;
  color: #343a40;
  font-size: 120%;
}
table,
th,
td {
  border: 1px solid #343a40;
  border-collapse: collapse;
}
th {
  border: 1px solid #343a40;
  border-collapse: collapse;
  font-family: roboto;
  color: #343a40;
  text-align: left;
  font-size: 120%;
}
td {
  border: 1px solid #343a40;
  border-collapse: collapse;
  font-family: roboto;
  color: #343a40;
  font-size: 120%;
}
dt,
dd,
li {
  font-family: roboto;
  font-size: 120%;
}
blockquote {
  font-family: roboto;
  font-size: 120%;
  
}
a {
  color: #0467C1;
}
body {
  background-color: #f8f9fa;
}
/* Navbar */
.navbar-dark {
  background-color: #343a40;
}
.nav-link {
  color: #f8f9fa;
  padding: 1%;
  font-size: 18px;
  font-family: roboto;
  text-decoration: none;
  }
/* Navbar End */
.logo {
  width:40px;
  position:relative;
}
.mb-4 {
  max-width: 1199px;
  border-width: 0px;
  border-color: #f8f9fa;
  background-color: #f8f9fa;
  padding-left: 7%;
  padding-right: 7%;
}
.card-title {
  font-size: 120%;
}
.footer_bg {
  background-color: #ecedef;
}
.footer_collum {
  max-width: 230px; 
}
.footer_title {
  color: #343a40;
  text-align: left;
  padding: 1%;
  font-size: 20px;
  font-family: roboto;
}
.footer_link {
  color: #343a40;
  text-align: left;
  padding: 1%;
  font-size: 20px;
  font-family: roboto light;
  text-decoration: none;
}
.footer_link:hover {
  color: #343a40;
  text-align: left;
  padding: 1%;
  font-size: 20px;
  font-family: roboto light;
  text-decoration: none;
}
ul {
  color: #343a40;
}

blockquote {
  font-size: 100%;
}
